{% extends "auctions/layout.html" %}

{% block body %}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Listings of  {{ category.type }}</a>
    </li>
  </ul>



{% for listing in listings %}

<div class="container">
    <div id="grid">
        <div class="grid_item">
            <a href="default.asp"><img src="{{ listing.image }}" alt="Photo of {{ listing.title }}" style="width:300px;height:300px;"></a>
        </div>
        <div class="grid_item">
            <div style="width:800px; height:50px; margin:0"  class="font-weight-bold">
                {{ listing.title }}
            </div>

            {% if in_watchlist %}
                <form action="{% url 'watchlist_remove' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="user" value="{{user.id}}">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url 'watchlist_add' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="user" value="{{user.id}}">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Add To Watchlist">
                </form>
            {% endif %}



            <div style="width:800px; height:50px; margin:0 ">
                {{ listing.description }}
            </div>
            <div style="width:800px; height:150px; margin-top:20px;">
                <p class="font-weight-bold">Current Price: ${{ listing.bid }} </p> 
            </div>
            <hr>
            <div style="width:800px; height:50px;">
                <form action="{% url 'place_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="bid">
                    <input type="submit" value="Place Bid" class="btn btn-secondary">
                </form>
            </div> 

        </div>
    </div>
  </div>
{% empty %}
<p>No Listings in this category</p>
{% endfor %}


{% endblock %}