{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
    </div>
    </div>
    {% endfor %}


<!-- {% if listing.active == False %}
    <div class="alert alert-info text-center" role="alert">
        This auction is closed.
    </div>
{% endif %} -->


    <!-- Listing Description -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Listing Details</a>
        </li>
      </ul>

      <div class="container">
        <div id="grid">
            <div class="grid_item">
                <a href="default.asp"><img src="{{ listing.image }}" alt="Photo of {{ listing.title }}" style="width:300px;height:300px;"></a>
            </div>
            <div class="grid_item">
                <div style="width:800px; height:50px; margin:0"  class="font-weight-bold">
                    {{ listing.title }}
                </div>
                <!-- watchlist -->
                {% if user.is_authenticated %}
                    {% if in_watchlist %}
                    <form action="{% url 'watchlist_remove' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="user" value="{{user.id}}">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
                    </form>
                {% else %}
                    <form action="{% url 'watchlist_add' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="user" value="{{user.id}}">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Add To Watchlist">
                    </form>
                {% endif %}
            {% endif %}
                <div style="width:800px; height:50px; margin:0 ">
                    {{ listing.description }}
                </div>
                {% if listing.active %}
                    <div style="width:800px; height:80px; margin-top:20px;">
                        <p class="font-weight-bold">Current Price: ${{ listing.bid }} </p> 
                    </div>
                {% else %}
                    <div style="width:800px; height:80px; margin-top:20px;">
                        <p class="font-weight-bold">Winning bid: ${{ listing.bid }}</p> 
                    </div>
                    {% if current_winner %}
                    <span class="badge badge-success">Congratulations! You won this auction.</span>          
                    {% endif %}
                {% endif %}
                <p class="text-muted">
                    <small>Created by {{listing.user}} {{ listing.created_at }}</small>
                </p>
                {% if listing.active %}
                    <small class="mt-0"><span class="badge badge-pill badge-light">{{ total_bids }} bids so far.</span></small>               
                 {% endif %}

                <!-- Condition << if user is current winner -->
                {% if user.is_authenticated and listing.active %}
                    {% if current_winner %}
                        <small class="mt-0"><span class="badge badge-success">Your bid is the highest bid :)</span></small>
                    {% endif %}
                {% endif %}
           
                <!-- Place bid -->
                <hr>
                {% if user.is_authenticated and listing.active %}
                    <div style="width:800px; height:50px;">
                        <form action="{% url 'place_bid' listing.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="bid">
                            <input type="submit" value="Place Bid" class="btn btn-primary">
                        </form>
                    </div>
                    <!-- Close Auction -->
                    {% if created_by_user and listing.active %}
                        <div style="width:800px; height:50px;">
                            <form action="{% url 'closeListing' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Close Auction" class="btn btn-danger">
                            </form>
                        </div>
                        {% endif %}
                {% endif %}
                {% if not listing.active %}
                    <span class="badge badge-dark">This Auction has Finished.</span>
                {% endif %}
            </div>
        </div>
      </div>
      
<!-- Comment section -->
        <div class="container">
            <h5>Comments <span class="badge badge-secondary">{{ total_comments }}</span></h5>
            {% if user.is_authenticated %}
            <div id="grid">
                    <form action="{% url 'comment' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <br>
                    <input type="submit" value="Add Comment" class="btn btn-primary">
                    </form>
            </div>
            {% else %} 
                <h3 class="text-danger pt-1">
                <small>Please <strong><a href="{% url 'login' %}" class="text-danger">sign in</a></strong> to add comment.</small>
                </h3>
       </div>
            {% endif %}

        </div> 
        <div class="container">
            {% for comment in listing.comments.all %}
                <div class="row border bg-light py-2 mx-0 mx-md-3 mb-3">
                    <div class="col-6">
                        <strong>{{ comment.user }}</strong>
                    </div>
                    <div class="col-6 text-right text-muted">
                        <small><em>{{ comment.time }}</em></small>
                    </div>
                    <div class="col-xl-12 pt-1">
                        {{ comment.comment }}
                    </div>
                </div> 
            {% endfor %}
        </div>


{% endblock %}