{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
 
    
  <div class="container" id="background">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-5">Create New Listing</h1>
        <hr class="mt-1 mb-4">
          <form action="{% url 'new_listing' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
          <button type="submit" class="btn btn-secondary">Create</button>
          </form>
      </div>
    </div>
  </div>


{% endblock %}